@using Who_Owes_Money.Models
@model IEnumerable<ResultOfCalculation>

@{
    ViewData["Title"] = "Calculation";
}

<h1>Calculation</h1>

<table class="table table-light">
    <thead class="thead-dark">
        <tr>
            <th scope="col">WHO</th>
            <th scope="col">HOWE MUCH</th>
            <th scope="col">WHOM</th>
        </tr>
    </thead class="thead-dark">

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.UnderPay</td>
                <td>@item.Amount UHA</td>
                <td>@item.OverPay</td>
            </tr>
        }
    </tbody>
</table>
